In [1]:
import torch
print(torch.__version__)

2.2.2

In [2]:
import os
os.environ["MKL_THREADING_LAYER"] = "TBB"

In [3]:
import ctgan
dir(ctgan)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/threadpoolctl.py:1214: RuntimeWarning:
Found Intel OpenMP ('libiomp') and LLVM OpenMP ('libomp') loaded at
the same time. Both libraries are known to be incompatible and this
can cause random crashes or deadlocks on Linux when loaded in the
same Python program.
Using threadpoolctl may cause crashes or deadlocks. For more
information and possible workarounds, please see
    https://github.com/joblib/threadpoolctl/blob/master/multiple_openmp.md

  warnings.warn(msg, RuntimeWarning)

['CTGAN',
 'TVAE',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__email__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'data_sampler',
 'data_transformer',
 'demo',
 'load_demo',
 'synthesizers']

In [15]:
import pandas as pd
import numpy as np
from ctgan import CTGAN
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, f1_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from scipy.stats import ks_2samp, chi2_contingency
import time

In [16]:
df = pd.read_csv("com_salary.csv")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              909 non-null    object
 1   OttoneuID         909 non-null    int64
 2   FG MajorLeagueID  851 non-null    float64
 3   FG MinorLeagueID  902 non-null    object
 4   MLB Org           896 non-null    object
 5   Position(s)       909 non-null    object
 6   Avg Salary        909 non-null    float64
 7   Median Salary     909 non-null    float64
 8   Min Salary        909 non-null    int64
 9   Max Salary        909 non-null    int64
 10  Last 10           909 non-null    float64
 11  Roster%           909 non-null    float64
 12  Team              853 non-null    object
 13  POS               909 non-null    object
 14  ADP               909 non-null    float64
 15  rPTS              909 non-null    float64
 16  PTS               909 non-null    float64
 17  aPOS              909 non-null    float64
 18  Dollars           909 non-null    float64
 19  Adjusted          909 non-null    float64
 20  Cost              262 non-null    float64
 21  PlayerId          909 non-null    object
 22  value             909 non-null    float64
dtypes: float64(13), int64(3), object(7)
memory usage: 163.5+ KB

In [18]:
df.head()

,Name,OttoneuID,FG MajorLeagueID,FG MinorLeagueID,MLB Org,Position(s),Avg Salary,Median Salary,Min Salary,Max Salary,...,POS,ADP,rPTS,PTS,aPOS,Dollars,Adjusted,Cost,PlayerId,value
0,Juan Soto,23717,20123.0,sa906282,NYY,OF,60.31,60.0,34,84,...,OF/DH,10.57,1132.535865,53.429347,21.885623,76.314969,112.280793,NaN,20123,0.000000
1,Mookie Betts,18276,13611.0,sa597889,LAD,2B/SS/OF,58.35,58.0,38,87,...,2B/SS/OF,5.03,1036.172159,40.095221,14.934803,56.030024,82.308998,NaN,13611,0.000000
2,Shohei Ohtani,33600,19755.0,NaN,LAD,Util/SP,56.13,56.0,32,88,...,P/DH,12.73,1038.276653,40.386426,12.178202,53.564628,75.049219,54.0,19755,-0.435372
3,Aaron Judge,18312,15640.0,sa549847,NYY,OF,54.17,54.5,33,70,...,OF/DH,11.16,1066.255227,44.257902,21.885623,67.143525,93.070498,50.0,15640,17.143525
4,Freddie Freeman,5680,5361.0,sa390291,LAD,1B,50.76,51.0,27,74,...,1B,8.81,1062.235872,43.701733,13.809086,58.510819,81.663561,47.0,5361,11.510819

In [20]:
orig_df = df

In [22]:
# Define preprocessing for numerical columns: impute missing values then scale
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

# Define preprocessing for categorical columns: impute missing values then encode
cat_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('encoder', OneHotEncoder(handle_unknown='ignore'))
])

# Combine both pipelines into a single column transformer
preprocessor = ColumnTransformer([
    ('num', num_pipeline, orig_df.select_dtypes(include=['int64', 'float64']).columns),
    ('cat', cat_pipeline, orig_df.select_dtypes(include=['object', 'category']).columns)
])

In [24]:
# Apply the preprocessing steps to the original dataset
prepared_data = preprocessor.fit_transform(orig_df)

# Convert the prepared data back to a DataFrame for CTGAN
prepared_df = pd.DataFrame(prepared_data, columns=[*orig_df.select_dtypes(include=['int64', 'float64']).columns.tolist(), *preprocessor.named_transformers_['cat']['encoder'].get_feature_names_out(orig_df.select_dtypes(include=['object', 'category']).columns).tolist()])

ValueError: Shape of passed values is (909, 1), indices imply (909, 2901)